.button {
    background-image: url("/elpis/images/button-background-image.jpeg");
    max-width: 250px;
    min-width: 150px;
    height: auto;
    color: white;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}