.nav {
    height: 100px;
    margin: 0px 10px;
}

.nav-left img {
    height: auto;
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    color: #000;
    line-height: 0;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    line-height: 0;
}


.nav-right .row {
    gap: 30px;
}

.nav-right {
    gap: 10px;
    align-items: flex-end;
}

.tel img {
    max-width: 200px;
    height: auto;
}


@media (min-width: 601px) and (max-width: 1024px) {
    .nav-right .row {
        gap: 10px;
    }

    .nav-left img {
        max-width: 150px;
    }

}

/* 
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tel {
    display: flex;
    justify-content: center;
    align-items: end;
} */






/* header {
    background-image: url("/images/header/header-background-image.png");
    background-size: cover;
    background-position: bottom;

    background-repeat: no-repeat;
} */