.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-image: url("/images/hero/hero-background-image.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 12rem);


}