section {
    padding: 150px 15vw;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}