section {
    padding: 150px 15vw;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.6;

}


.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.information {
    padding: 50px 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: rgb(206, 206, 206);
}

.information-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff7a;
    border-radius: 0.75rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}